<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TasksNHabits.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>public func resetHabitsIfNeeded() {         let now = Date()         for index in habits.indices {             if habits[index].resetIfNeeded(currentDate: now) {                 / Habit was reset - schedule next notification                 NotificationManager.shared.scheduleHabitResetNotification(for: habits[index])             }         }         saveHabits()     } TasksNHabitsWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17E88CA42D95977800C47045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17E88CB42D95977900C47045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17E88CBE2D95977900C47045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
